.git
.gitignore

.vscode
.idea

node_modules
vendor

storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

storage/logs/*

bootstrap/cache/*.php

database/*.sqlite

.env
.env.*

!.env.example

public/build

npm-debug.log
yarn-error.log

Dockerfile

docker-compose*.yml