# =========================
# Laravel
# =========================

/vendor/
/node_modules/

/public/build/
/public/hot
/public/storage

/storage/*.key
/storage/pail

# Cache Laravel
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore

# Session Laravel
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore

# View cache Laravel
/storage/framework/views/*
!/storage/framework/views/.gitignore

# Testing Laravel
/storage/framework/testing/*
!/storage/framework/testing/.gitignore

# Log Laravel
/storage/logs/*
!/storage/logs/.gitignore


# =========================
# Environment
# =========================

.env
.env.backup
.env.production


# =========================
# IDE / Editor
# =========================

.idea/
.vscode/
.zed/
.fleet/
.nova/

.phpactor.json
.phpunit.result.cache
.phpunit.cache/


# =========================
# Sistem Operasi
# =========================

.DS_Store
Thumbs.db


# =========================
# Laravel Homestead
# =========================

Homestead.json
Homestead.yaml


# =========================
# Composer
# =========================

auth.json


# =========================
# Backup / file sementara
# =========================

* copy
* backup.php
* -enhanced.blade.php

# Docker
docker-compose.override.yml

# Environment Docker
.env.docker
